 <!DOCTYPE html>

<html>
  <head>
    <title> "Rock, Paper, Scissors" </title>
  </head>
 
 
 <body>
 <h1>Welcome to Rock-Paper-Scissors</h1>

  <img src ="/images/3d.png"> <ref= "diagram">


</body>
</html>
